@import 'src/styles/_vars.scss';

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $border;
  border-collapse: collapse;
  color: $white;

  th {
    font-weight: bold;
    padding: 15px;
    color: #444;
    background-color: $white;
    border: 1px solid $border;
  }

  td {
    border: 1px solid $border;
    padding: 15px;
    background-color: $primaryLight;
  }
}
